body {
    font-family: lato, sans-serif;
}

div h4 {
    text-align: center;
}

.recipe-card {
    border-style: solid;
}

.list-style {
    margin-bottom: 1em;
}


/* colours */

.nav-col {
    background-color: #4db6ac;
}

.footer-col {
    background-color: #4db6ac;
}

.car-col {
    background-color: #b2dfdb;
}
