/* font family and slicky footer formatting */
body {
    font-family: lato, sans-serif;
        display: flex;
    min-height: 100vh;
    flex-direction: column;
}

  main {
    flex: 1 0 auto;
  }

div h4 {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.recipe-card {
    border-style: solid;
    margin-bottom: 5%;
    border-color: #827717;
    width: 100%;
}

.list-style {
    margin-bottom: 1em;
}


/* colours */

.nav-col {
    background-color: #4db6ac;
}

.footer-col {
    background-color: #4db6ac;
}

.car-col {
    background-color: #b2dfdb;
}




body {

  }

