{% extends "base.html" %}
{% block content %}
<h4>
    Add Your Own Recipe To The Site!
</h4>

<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix"></i>
                <input id="recipe_name" type="text" name="recipe_name" minlength="5" maxlength="50" class="validate"
                    required>
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-blender prefix"></i>
                <input id="prep_time" type="text" name="prep_time" class="validate" required>
                <label for="prep_time" placeholder="eg. 1 hr and 15 mins">Prep Time</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-bacon prefix"></i>
                <input id="cook_time" type="text" name="cook_time" minlength="3" maxlength="30" class="validate"
                    required>
                <label for="cook_time" placeholder="eg. 1 hr and 15 mins">Cook Time</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-carrot prefix"></i>
                <input id="ingredients" type="text" name="ingredients" minlength="3" maxlength="60" class="validate"
                    required>
                <div id="dynamicInput"></div>
                <label for="ingredients" placeholder="Ingredient">Ingredient 1</label>
                <a class="waves-effect waves-light btn" onClick="addIngredient('dynamicInput');">Add Another
                    Ingredient</a>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-wrench prefix"></i>
                <input id="method" type="text" name="method" minlength="3" maxlength="300" class="validate" required>
                <div id="dynamicInputTwo"></div>
                <label for="method" placeholder="Method">Step 1</label>
                <a class="waves-effect waves-light btn" onClick="addMethod('dynamicInputTwo');">Add Another Step</a>
            </div>
        </div>
        <div class="input-field col s12">
            <i class="fas fa-check-double prefix"></i>
            <select multiple id="type" name="type" required>
                {% for type in types %}
                <option value="{{ type.type }}">{{ type.type }}</option>
                {% endfor %}
            </select>
            <label>Type Of Recipe</label>
        </div>
        <div class="file-field input-field">
            <div class="btn">
                <span>File</span>
                <input type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
        <div class="row">
        <div class="col s12 center-align">
            <button type="submit" class="waves-effect waves-light btn">Submit</button>
            <button class="waves-effect waves-light btn">Cancel</button>
        </div>
        </div>
    </form>
</div>

<!-- <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                        Add Task <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div> -->

{% endblock %}