{% extends "base.html" %}
{% block content %}
<div class="title-style">
    <h4>Log In</h4>
</div>

<div class="row form-bg-col">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
        <div class="card-panel">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pen prefix"></i>
                    <input placeholder="Enter your desired username" id="username" name="username" type="text"
                        minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-key prefix"></i>
                    <input placeholder="****************" id="password" name="password" type="password" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light button-style" type="submit" name="action">Log In
                <i class="fas fa-paper-plane"></i>
            </button>
        </div>
    </form>
    <div class="row">
        <div class="col s12">
            <p>Don't Already Have An Account? <a href="{{ url_for('register') }}">Register Here</a></p>
        </div>
    </div>
</div>
{% endblock %}