{% extends "base.html" %}
{% block content %}
<div class="container">
    <h4>Search All Recipes</h4>
</div>

{% for recipe in recipes %}
<div class="container recipe-card">
    <div class="row s12">
        <div class="col s12">
            <h5>{{ recipe.recipe_name }}</h5>
        </div>
        <div class="col s12 m6">
            <img src="{{ recipe.image }}" alt="Picture for: {{ recipe.recipe_name }}">
        </div>
        <div class="col s12 m6">
            <p><em>By: {{ recipe.user_id }}</em></p><br>
            <p>Prep Time: {{ recipe.prep_time }}</p><br>
            <p>Cook Time: {{ recipe.cook_time }}</p>
        </div>
    </div>
    <div class="row s12">
        <div class="col s12 m6">
            <h5>Ingredients</h5>
            <ul>
                {% for ingredient in recipe.ingredients %}
                <li class="list-style">{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col s12 m6">
            <h5>Method</h5>
            <ul>
                {% for method in recipe.method %}
                <li class="list-style">{{ method }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="s12">
        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn-small">Edit</a>
        <a class="waves-effect waves-light btn-small">Delete</a>
    </div>
</div>

{% endfor %}
{% endblock %}